@media screen  and (min-width: 800px) and (max-width: 1400px) {
    .college-page-container {
    width: 100%;
    }
}

@media screen  and (max-width: 900px) {
    .college-page-container {
        width: 1024px;
    }
}

@media screen  and (min-width: 1400px) {
    .college-page-container {
        margin: auto;
        width: 1400px;
    }
}
.clg-names{
    margin:0px;
}
.clg-names li{
    padding: 10px;
}
.clg-names li a{
    text-decoration: none;
    color: #444;
}
.activeCollege{
    font-weight: bold;
}