@media screen  and (min-width: 800px) and (max-width: 1400px) {
    .profile-container {
    width: 100%;
    }
}

@media screen  and (max-width: 900px) {
    .profile-container {
        width: 1024px;
        }
    }

@media screen  and (min-width: 1400px) {
    .profile-container {
        margin: auto;
        width: 1400px;
        }
    }

    .profile-container ul li a
    {
        text-decoration: none;
    }

    .profile-container ul li
    {
        padding: 5px;
    }

    .profile-container ul
    {
        list-style-type: none;
    }