.contain{
    margin: auto;
    width: 900px;
}

.page{
    color: #4c4c4c;
    width: 35px;
    text-decoration: none;
    padding: 10px;
    margin: 2px;
    background-color: #e4e4e4;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.otherpages:hover{
    color: #111111;
    background: #a7a7a7;
    font-weight: bold;
}

.pageselected{
    color:#ffffff;
    font-weight: bold;
    background: #585858;
}

.pagination{
    padding: 15px 15px 15px 0px;
    width: fit-content;
    margin: 0px;
    float: left;
}

.active{
    font-weight: bold;
}
.div-table{
    margin-top: 20px;
    width: auto;
    border-left: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
}
.div-row{
    height: 60px;
    width: fit-content;
    clear: both;
}


.div-col {
    padding: 10px;
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: 200px;     
    height: 40px; 
    border-right: 1px solid #c5c5c5;
    border-top: 1px solid #c5c5c5;
    color: #585858;
}

.heading-row{
    border-bottom: 1px solid #c5c5c5;
    height: 40px;
}

.heading-col{
    
    height: 20px;
}

.div-col img{
      height: 40px;
  }
  
.fetching{
    float: left;
    margin: 25px;
    margin-left: 0px;
    color: #585858;
}



.recordList{
    color: #585858;
}

.recordList .message{
    margin-top: 30px;
    color: #585858;
}