.addUserForm input[type=text]{
    width: 400px;
    margin: 10px;
    margin-left: 0px;
    padding:10px;
    border: 1px solid #dddddd;
    background-color: white;
    border-radius: 3px;
    color: inherit;
}

.addUserForm button{
    margin: 10px;
    margin-left: 0px;
    padding:10px;
    border-radius: 4px;
    border: 0px;
    background-color: #e6e6e6;
    cursor: pointer;
}
.addUserForm button[type=submit]{
    background-color: #585858;
    color:white;
}

.add-record{
    margin-top: 20px;
}
.add-record .heading{
    color: #585858;
    font-size: 16px;
    font-weight: bold;
}
.add-record .addUserForm{
    margin-top: 30px;
}

.addUserForm{
    color: #585858;
}

.field img{
    margin-top: 10px;
}

.add-record .message{
    margin-top: 30px;
    color: #585858;
}