{
	"parser": "babel-eslint",
	"plugins": [
    "react"
  ],
  "rules": {
		"no-unused-vars": 0,
		"max-len": [1, 150, 2, {"ignoreComments" : true}]
	},
	"env": {
		"browser": true
	},
	"extends": ["airbnb-base"]
}
